<h2>Mensagens</h2>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: [@match, Message.new], remote: true do |f| %>
  <div>
    <%= f.label :content, "Write your message:" %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Enviar" %>
<% end %>
