<h1 class="title">Profiles</h1>

<section class="profiles-listing">
<div class="card-form custom-card">
  <div class="card-body">
  <ul>
    <% @profiles.each do |profile| %>
      <li>
        <article class="profile-card">
          <% if @profile.photo.attached? %>
    <img src="<%= @profile.photo.url %>" alt="Photo of <%= @profile.name %>" class="profile-photo">
      <% end %>
          <h2><%= profile.name %></h2>
          <p><strong>Location:</strong> <%= profile.city %>, <%= profile.country %></p>
          <p><strong>Language:</strong> <%= profile.language %></p>
          <div class="buttons-container">
          <%= link_to "View Profile", profile_path(profile), class: "btn btn-quarto" %>
          </div>
        </article>
      </li>
    <% end %>
  </ul>
</section>
</div>
</div>
