<h1 class="title-profile">Profile Details</h1>
<section class="profile-list">
  <div class="card-form custom-card">
    <div class="card-form-body">
      <% if @profile.photo.attached? %>
        <%= cl_image_tag @profile.photo.key, alt: "Photo of #{@profile.name}", class: "profile-photo" %>
      <% end %>
      <h2><%= @profile.name %></h2>
      <p><strong>Bio:</strong> <%= @profile.bio %></p>
      <p><strong>Location:</strong> <%= @profile.city %>, <%= @profile.country %></p>
      <p><strong>Traveler:</strong> <%= @profile.traveler ? 'Yes' : 'No' %></p>
      <p><strong>Preferences:</strong> <%= @profile.preferences %></p>
      <p><strong>Food:</strong> <%= @profile.food %></p>
      <p><strong>Animal:</strong> <%= @profile.animal %></p>
      <p><strong>Availability:</strong> <%= @profile.availability ? 'Available' : 'Not Available' %></p>
      <p><strong>Language:</strong> <%= @profile.language %></p>
      <div class="buttons-container d-flex gap-2">
        <% if current_user.profile != @profile %>
          <%= button_to 'Send a message', matches_path(profile_id: @profile.id), method: :post, class: 'btn btn-segundo' %>
        <% else %>
          <%= link_to "Edit your profile", edit_profile_path(@profile), class: "btn btn-segundo" %>
        <% end %>
        <%= link_to 'Back to profiles', profiles_path(query: params[:query]), class: "btn btn-segundo" %>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <p>&copy; 2025 Local Buddy. All rights reserved. </p>
</footer>
