<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <!-- Logo à esquerda -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "local-buddy-logo.jpg", alt: "Home" %>
    <% end %>

    <!-- Botão hamburguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Conteúdo colapsável -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center gap-3">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <% if current_user.matches.any? || current_user.profile&.matches&.any? %>
              <%= link_to "Messages", matches_path, class: "nav-link" %>
            <% else %>
              <span class="nav-link">No Messages</span>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.profile&.photo&.attached? %>
                <%= image_tag current_user.profile.photo, class: "avatar-image", alt: "User avatar" %>
              <% else %>
                <i class="fa-solid fa-circle-user icon"></i>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.profile.present? %>
                <li>
                  <%= link_to "My Profile", profile_path(current_user.profile), class: "dropdown-item" %>
                </li>
              <% end %>
              <li>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
