<%= turbo_stream_from "match_#{@match.id}_messages" %>

<div id="messages">
  <%= turbo_frame_tag :messages do %>
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  <% end %>
</div>

<%= simple_form_for [@match, Message.new], html: { class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>
  <div class="form-group">
    <%= f.input :content, placeholder: "Type your message" %>
    <%= f.submit "Send", class: "btn btn-send-chat" %>
    <%= link_to matches_path, class: "btn btn-back-messages" do %>
      Messages
    <% end %>
  </div>
<% end %>
