<%= turbo_stream_from "match_#{@match.id}_messages" %>

<div id="messages">
  <%= turbo_frame_tag :messages do %>
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  <% end %>
</div>

<%= simple_form_for [@match, Message.new], html: { class: 'd-flex' } do |f| %>
  <div class="form-group">
    <%= f.input :content, placeholder: "Type your message" %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
